[submodule "Submodules/rapidjson"]
	path = Submodules/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "Submodules/googletest"]
	path = Submodules/googletest
	url = https://github.com/google/googletest.git
[submodule "Submodules/http-parser"]
	path = Submodules/http-parser
	url = https://github.com/nodejs/http-parser.git
[submodule "Submodules/libyuarel"]
	path = Submodules/libyuarel
	url = https://github.com/jacketizer/libyuarel.git
[submodule "Submodules/zipper"]
	path = Submodules/zipper
	url = https://github.com/sebastiandev/zipper
[submodule "Submodules/fmt"]
	path = Submodules/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "Submodules/qs_parse"]
	path = Submodules/qs_parse
	url = https://github.com/bartgrantham/qs_parse.git
