[submodule "Submodules/rapidjson"]
	path = Submodules/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "Submodules/googletest"]
	path = Submodules/googletest
	url = https://github.com/google/googletest.git
[submodule "Submodules/http-parser"]
	path = Submodules/http-parser
	url = https://github.com/nodejs/http-parser.git
